
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

nav{
    width:100%;
    background-color: grey;
    display:flex;
    height:50px;
}


a {
    margin-left:10px;
    text-decoration: none;
    color:white;
    position:relative;
    top:10px;
}

ul li{
    padding:8px;
}

.post-1 {
    margin: auto;
    max-Width: 960px;
    Padding: 20px;
    border: 2px solid grey;
    Overflow: auto;
    margin-top: 20px;
}

.text {
    width: 500px;
    float: left;
    min-height: 300px;
}

.text img{
    
    width:550px;
    height:650px;
}
.text-1{
    width: 100px;
    margin-left: 10px;
    float: left;
    min-height: 750px;
}